Source: nobootloader
Section: debian-installer
Priority: standard
Maintainer: Debian Install System Team <debian-boot@lists.debian.org>
Uploaders: Stephen R. Marenka <smarenka@debian.org>
Build-Depends: debhelper (>= 7.0.0)
Vcs-Browser: http://git.debian.org/?p=d-i/nobootloader.git
Vcs-Git: git://git.debian.org/d-i/nobootloader.git

Package: nobootloader
Package-Type: udeb
Architecture: all
Provides: bootable-system
Depends: cdebconf-udeb, installed-base, di-utils-mapdevfs
XB-Installer-Menu-Item: 7700
Description: Don't install any bootloader
 This package will skip installing a boot-loader
